
<!DOCTYPE html>
<html>
	<head>
		{{theme}}
		{{global_css}}
		<style>
		</style>
	</head>
	<body style="flex-direction: column;">
		{{header}}

		<pe-section class="pe-column">
			<pe-title>Introduction</pe-title>
			<p>This website is served using a custom webserver written in Zig that runs as a systemd service on a linux machine.</p>
			<p>I did this as a learning exercise to learn about how the HTTP protocol works as well as how to build a Web Framework work.</p>
		</pe-section>

		{{global_js}}
	</body>
</html>
