
<!DOCTYPE html>
<html>
	<head>
		<link href="/css/themes/dark" rel="stylesheet">
		{{global_css}}
		<style>
			pe-header > a {
				padding: 15px 20px;
			
				font-size: 20px;
			}
			
			pe-header > #demo {
				margin-left: auto;
			}
		</style>
	</head>
	<body style="flex-direction: column;">
		{{header}}

		<pe-section class="pe-column">
			<p>This website is hosted using a custom webserver written in Zig.</p>
			<p>The reason is twofold:</p>
			<ol>
				<li>Learning how websites work: TCP Connections, HTTP protocol, Websockets etc</li>
				<li>Providing a portofolio for myself</li>
			</ol>

		</pe-section>

		{{global_js}}
	</body>
</html>
