<!DOCTYPE html>
<html>
	<head>
		<link href="/css/themes/dark" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
        
		{{global_css}}
		<style>
			.emphasize {
				font-weight: 700;
			}

			i {
				font-size: 2.4em;
			}

			h1 {
				width: 100%;
				background-color: var(--color-foreground);
				text-align: center;
				padding: 0.3em;
			}

			h2 {
				font-size: 2.0em;
			}

			h1, h2, p {
				margin: 0.3em 0;
			}

			pe-section {
				padding: 40px 0;
				justify-content: space-around;
			}

			.card {
				width: 60%;
				margin: 20px auto;
			}

			.skill-list {
				list-style-type: none;
				display: flex;
				width: 40%;
				flex-wrap: wrap;
				justify-content: space-around;
			}

			.skill-list-item {
				display: flex;
				flex-direction: column;

				font-size: 1.2em;
				margin: 0.7em;
			}
			.skill-list-item > i {
				padding: 0.4em;
				background-color: var(--color-border);
			}
			.skill-list-item > p {
				text-align: center;
				font-size: 0.9em;
			}

			.subsection {
				width: 60%;
				margin: 40px auto;
			}
		</style>
	</head>
	<body style="flex-direction: column;">
		{{header}}

		<pe-section style="justify-content: space-around;">
			<pe-column style="padding: 20px; align-items: center;">
				<p style="">Hello &amp Welcome</p>
				<p style="font-weight: 300; font-size: 2.4em">I am <span class="emphasize">Louis Alban Ziko</span></p>
				<p style="">A Software Developer</p>
				<p>I specialize in backend, systems and game development.</p>
				<p>I have worked with a large range of programming languages and technologies:</p>
				<ul class="skill-list">
					<li class="skill-list-item">
						<i class="devicon-c-plain"></i>
						<p>C</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-java-plain"></i>
						<p>Java</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-javascript-plain"></i>
						<p>Javascript</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-nodejs-plain"></i>
						<p>Node JS</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-python-plain"></i>
						<p>Python</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-html5-plain"></i>
						<p>HTML</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-css3-plain"></i>
						<p>CSS</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-linux-plain"></i>
						<p>Linux</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-bash-plain"></i>
						<p>Bash</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-powershell-plain"></i>
						<p>Powershell</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-rust-original"></i>
						<p>Rust</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-zig-plain"></i>
						<p>Zig</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-sqlite-plain"></i>
						<p>Sqlite</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-mysql-plain"></i>
						<p>My SQL</p>
					</li>
					<li class="skill-list-item">
						<i class="devicon-php-plain"></i>
						<p>PHP</p>
					</li>
				</ul>
			</pe-column>
		</pe-section>

		<h1>Work Experience</h1>
		<pe-section class="pe-column">
				<pe-column class="subsection">
					<h2><span class="emphasize">Technical Support<span> <span style="font-weight: 100;">at CData</span></h2>
					<p>15/11/2024 - 04/09/2025 | Tirana, Albania</p>
					<hr style="width: 50%; text-align: left; margin-left: 0;">
					<pe-column style="margin: 15px 0;">
						<p>CData is an American company which provides data connectivity tools. I worked at CData for about a year at the Tirana offices.</p>
						<p>My job was to address the clients technical and non-technical problems as well as help the clients setup the products. Usually we would do this via email however sometimes this required voice calls for more difficult problems. Also I would find and report bugs/issues in the products.</p>
						<p>I used a various of technologies from SQL (which was part of the main products) to Java, C#, Powershell etc. I had to understand how certain API's work (ex: Google Sheets API) and how the product interacts with them to troubleshoot problems.</p>
					</pe-column>
				</pe-column>
				<hr style="width: 55%; border: 2px solid var(--color-border); text-align: center; margin: auto;">
				<pe-column class="subsection">
					<h2><span class="emphasize">Software Developer</span> <span style="font-weight: 100;">at IT-TaskForce</span></h2>
					<p>01/09/2018 - 01/05/2020 | Remote, France</p>
					<hr style="width: 50%; text-align: left; margin-left: 0;">
					<pe-column style="margin: 15px 0;">
						<p>IT-TaskForce is a french Tech contracting company. During university I worked there for about a year but had to leave as it was interfering with my studies.</p>
						<p>I was responsible for creating and maintaining Azure functions that the clients of IT-TaskForce requested. The functions were written in Javascript using NodeJS and involved moving data from and to different databases and files.</p>
					</pe-column>
				</pe-column>
				<hr style="width: 55%; border: 2px solid var(--color-border); text-align: center; margin: auto;">
				<pe-column class="subsection">
					<h2><span>Technology/IT Teacher</span> at EFIT Tirana</h2>
					<p>01/09/2019 - 01/06/2024 | Tirana, Albania</p>
					<hr style="width: 50%; text-align: left; margin-left: 0;">
					<pe-column style="margin: 15px 0;">
						<p>EFIT Tirana is the French School of Tirana.</p>
						<p>For three years, with a year break, I tought students basics of Computer Science to first year High School students and Technology to Middle School students.</p>
						<p>The teaching was done in french which is my native language.</p>
					</pe-column>
				</pe-column>
		</pe-section>


		<h1>Education</h1>
		<pe-section class="pe-column">
			<pe-column class="subsection">
				<h2><span class="emphasize">Bachelors in Computer Engineering</span> <span>at Epoka University</span></h1>
				<p>2018 - 2021 | Tirana, Albania</p>
				<hr style="width: 50%; text-align: left; margin-left: 0;">
				<pe-column>
					<p>I did 3 years of courses at Epoka University and ended with a 2.9 GPA.</p>
					<p>The courses ranged from linear algebra, calculus to Java Development, Web Development to Algorithms and Data Structures.</p>
					<p>This allowed me to get a general knowledge in Software Development which is what interested me the most.</p>
				</pe-column>
			</pe-column>
		</pe-section>

		<h1>Projects</h1>
		<pe-section class="pe-column">
			<pe-column style="justify-content: space-around;">
				<h2 style="margin: 10px auto;">Checkout my projects on github:</h2>
				<pe-row style="justify-content: space-between; margin: 10px auto;">
					<a href="https://github.com/LouisAlbanZiko" target="_blank">
						<img src="/home/github-mark-white.png" width="64px" height="64px">
					</a>
				</pe-row>
			</pe-column>
		</pe-section>

		<h1>Contact</h1>
		<pe-section class="pe-column">
			<pe-column style="justify-content: space-around;">
				<p style="margin: 0.3em auto;">Email: <span class="emphasize">louisalbanziko1610@gmail.com</span></p>
				<hr style="width: 10%; text-align: center; margin: 20px auto;">
				<p style="margin: 0.2em auto;">I don't use social media much.</p>
				<p style="margin: 0.2em auto;">To contact me send me an email.</p>
				<p style="margin: 0.2em auto;">No need to be formal :)</p>
			</pe-column>
		</pe-section>

		<footer></footer>

		{{global_js}}
	</body>
</html>

