html, body {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background-color: var(--color-main);
	color: var(--color-contrast);
	font-family: 'Fira Code';
}

a {
	color: var(--color-contrast);
	text-decoration: underline;
}

pe-header > a {
	padding: 15px 20px;
	font-size: 20px;
	text-decoration: none;
}

pe-header > #demo {
	margin-left: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-text); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-foreground); 
}

