pe-header {
	width: 100%;
	display: block flex;
	background-color: var(--color-background);
}

pe-section {
	display: flex;
	width: 100%;

	margin: 60px auto;
	padding: 20px;
}

pe-title {
	display: inline;
	color: var(--color-text);
	font-weight: 600;
	font-size: 2.4em;
}

pe-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

pe-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

