html {
	--color-main: #f7f6f6;
	--color-contrast: #161616;

	--color-1: #019fe3;
}

@media (prefers-color-scheme: dark) {
	html {
		--color-main: #161616;
		--color-contrast: #f7f6f6;
    	
		--color-1: #019fe3;
	}
}
